@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
:root {
    --width: 200px;
    --height: var(--width);
    --trans-p: calc(var(--width) / 2);
    --trans-n: calc(-1 * var(--width) / 2);
    --w-h-porcentaje: 200px
}
@media screen and (min-width: 1100px) {
    :root {
        --width: 250px
    }
}
* {
    list-style: none;
    text-decoration: none
}
.container {
    width: 100%;
    margin: auto;
    background: #0a043c;
    overflow: hidden
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    width: 100%;
    transition: all 1s;
    z-index: 5000;
    padding: 1rem .5rem 0 .5rem;
}
.header .logo {
    font-size: 2em;
    margin-top: 0;
    font-family: 'Hind Siliguri', sans-serif;
    color: #f1f1f1;
    float: right;
    position: relative;
    z-index: 6000;
}
.header .logo h1 {
    line-height: 0.8;
    margin: 0;
    font-weight: 100;
    cursor: pointer
}
.header .logo h1 span {
    display: inline-block;
    transform: rotate(19deg) translate(-5px, 12px);
    font-size: 1.07em;
    color: #f39422;
    font-weight: bold;
    text-shadow: -3px 4px #ffffff38
}
.header .menu_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70vh;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #f1f1f1;
    background: linear-gradient(0deg, #209fff 0%, #01477c 100%);
    transition: all 500ms ease-in;
    border-radius: 0 0 12em 0em;
    transform: translatex(-200%);
    max-width: 400px
}
.header .menu_nav.active-nav {
    transform: translatex(0%)
}
.header .menu_nav .cc-links {
    margin-top: 35%
}
.header .menu_nav .cc-links ul {
    font-size: 1.4em;
    margin-bottom: 30%;
    color: #f1f1f1
}
.header .menu_nav .cc-links ul a {
    color: #f1f1f1
}
.header .menu_nav .cc-links ul a:hover {
    color: #f39422
}
.header.shrink {
    height: 80px;
    background: #06021c;
    box-shadow: 0 3px 10px 0 #262525e6;
}
.main {
    width: 100%;
    font-family: "Quicksand", sans-serif
}
.main .content {
    position: relative;
    padding-top: 15rem
}
.main .content .title {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: calc(2.3em + 1.5vw);
    font-weight: 600;
    color: #d9d8d8;
    padding-left: 1rem;
    padding-top: 3rem;
    font-variant: all-petite-caps
}
.main .content .title::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background: #04e2f2
}
.main .content .title .rocket {
    width: 2.5em;
    margin-left: .4em;
    transform: translateY(-30px)
}
.main .content .description {
    font-size: calc(0.75em + 2vmin);
    font-weight: 100;
    color: #dfdede;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem
}
@media screen and (min-width: 831px) {
    .main .content .description {
        font-size: calc(0.45em + 2vmin)
    }
}
.main .content .btn {
    display: block;
    margin: auto;
    width: 15em;
    margin-top: 2rem;
    padding: 1em 4em;
    border: 3px solid #f39422;
    border-radius: 30px;
    background: transparent;
    transition: all 500ms
}
@media screen and (min-width: 831px) {
    .main .content .btn {
        margin: 0
    }
}
@media screen and (min-width: 1100px) {
    .main .content .btn {
        margin-top: 0;
        margin: 0
    }
}
.main .content .btn a {
    color: #efeaea;
    font-weight: bold
}
.main .content .btn:hover {
    background: #f39422
}
.main .content .btn:hover a {
    color: #000
}
.main .content--present {
    padding-top: 8rem
}
@media screen and (min-width: 831px) {
    .main .content--present {
        padding: 5rem 3rem;
    }
}
.main .content--present .present1 {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse wrap;
    max-width: 1400px;
    margin: auto
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 {
        justify-content: space-between
    }
}
.main .content--present .present1 .moon-ilustration {
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10
}
.main .content--present .present1 .moon-ilustration img {
    max-width: 46vmax;
    width: 100%
}
@media screen and (min-width: 1180px) {
    .main .content--present .present1 .moon-ilustration {
        padding-left: 19%
    }
}
.main .content--present .present1 .moon-ilustration .content-satalite {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    animation: rote-content 10s linear infinite
}
@keyframes rote {
    to {
        transform: rotate(360deg)
    }
}
.main .content--present .present1 .moon-ilustration .content-satalite .satelite {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url("../img/satelite1.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rote 5s linear infinite
}
@keyframes rote-content {
    to {
        transform: rotate(1turn)
    }
}
.main .content--present .present1 .present1-txt {
    display: flex;
    flex-direction: column;
    line-height: 1;
    z-index: 10
}
.main .content--present .present1 .present1-txt .txt-min {
    margin-top: 0.5rem;
    color: #dfdede;
    text-align: center;
    font-weight: 100;
    font-size: calc(1.15em + 0.9vw)
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 .present1-txt .txt-min {
        margin-top: 0rem;
        text-align: start
    }
}
@media screen and (min-width: 1100px) {
    .main .content--present .present1 .present1-txt .txt-min {
        margin-right: -12em;
        font-size: calc(0.8em + 0.9vw)
    }
}
.main .content--present .present1 .present1-txt .text-present {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: calc(7.95em + 1.1vw);
    text-align: center;
    justify-content: center;
    color: #ececec
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 .present1-txt .text-present {
        justify-content: flex-start
    }
}
@media screen and (min-width: 1180px) {
    .main .content--present .present1 .present1-txt .text-present {
        flex-wrap: nowrap
    }
}
.main .content--present .present1 .present1-txt .text-present .point {
    display: none;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    align-self: flex-end;
    background: #f39422;
    opacity: 0
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 .present1-txt .text-present .point {
        opacity: 1;
        display: block
    }
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 .present1-txt {
        width: 18em;
        justify-content: space-evenly
    }
}
@media screen and (min-width: 1180px) {
    .main .content--present .present1 .present1-txt {
        justify-content: space-evenly;
        padding: 7em 0
    }
}
.main .content--present .present1 .present1-txt .content-social {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    transition: all 500ms;
    padding: 0 5rem
}
@media screen and (min-width: 831px) {
    .main .content--present .present1 .present1-txt .content-social {
        padding: 0 .1rem;
        justify-content: flex-start
    }
}
.main .content--present .present1 .present1-txt .content-social .social {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 3px solid #04e2f2;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.6em;
    color: #fff;
    cursor: pointer;
    margin: .5rem
}
.main .content--present .present1 .present1-txt .content-social .social i {
    font-size: 1.5em
}
.main .content--present .present1 .present1-txt .content-social .social:hover {
    background: #04e2f2;
    color: #282727
}
.main .content--portfolio .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    transition: all 500ms;
    position: relative;
    z-index: 1000;
    position: relative
}
.main .content--portfolio .portfolio .proyect-1 .content-img {
    background: url("../img/portfolio-img.png");
    background-size: cover;
    background-position-x: 25%
}
.main .content--portfolio .portfolio .proyect {
    border-radius: 5px;
    background: #f2f2f2;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px
}
.main .content--portfolio .portfolio .proyect .content-img {
    height: 30vmax;
    max-height: 25vmax;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative
}
.main .content--portfolio .portfolio .proyect .proyect-title {
    font-size: 1.4em;
    font-weight: 600;
    color: #393939;
    margin-top: 15%;
    padding-left: 1em;
}
.main .content--portfolio .portfolio .proyect .menu {
    position: absolute;
    bottom: 0;
    left: -35px;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px
}
.main .content--portfolio .portfolio .proyect .menu::after {
    position: absolute;
    top: 0;
    content: "";
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 100%
}
.main .content--portfolio .portfolio .proyect .menu::before {
    content: "";
    position: absolute;
    top: 0;
    content: "";
    cursor: pointer;
    width: 100px;
    height: 100px;
    z-index: 3
}
.main .content--portfolio .portfolio .proyect .menu .plus-icon {
    position: absolute;
    top: 60%;
    left: 70%;
    color: #f1f2f2;
    font-size: 2.9em;
    transform: rotate(90deg);
    transition: transform 500ms;
    z-index: 1
}
.main .content--portfolio .portfolio .proyect .menu .plus-icon.rotate {
    transform: rotate(180deg);
    transition: transform 500ms
}
.main .content--portfolio .portfolio .proyect .menu .social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2em;
    width: 2em;
    top: 80%;
    left: 60%;
    transform: translate(0px, 0px);
    font-size: 1.8em;
    background: #f1f1f1;
    transition: transform 500ms;
    border-radius: 50%;
    color: #333
}
.main .content--portfolio .portfolio .proyect .menu .social a {
    color: #333
}
.main .content--portfolio .portfolio .proyect .menu .social:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5)
}
.main .content--portfolio .portfolio .proyect .menu .social.social1 {
    transform: translate(-150px, -150px);
    transition-delay: 0s
}
.main .content--portfolio .portfolio .proyect .menu .social.social2 {
    transform: translate(-10px, -200px);
    transition-delay: 0.2s
}
.main .content--portfolio .portfolio .proyect .menu .social.social3 {
    transform: translate(130px, -150px);
    transition-delay: 0.6s
}
.main .content--portfolio .portfolio .proyect .description-proyect {
    padding: 1.7em;
    font-weight: 100
}
.main .content--portfolio .portfolio .proyect .tecnologys {
    float: right;
    padding: 0.7em;
    font-weight: 100;
    color: #130c02
}
.main .content--portfolio .portfolio .proyect .tecnologys i {
    font-size: 1.5em;
    padding-left: 0.2em
}
.main .content--portfolio .portfolio .proyect .tecnologys i:nth-child(1) {
    color: #ff6d00
}
.main .content--portfolio .portfolio .proyect .tecnologys i:nth-child(2) {
    color: #039be5
}
.main .content--portfolio .portfolio .proyect .tecnologys i:nth-child(3) {
    color: #fdd83c
}
.main .content--portfolio .portfolio .proyect:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px
}
.main .content--aboutme {
    background: #02071f;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.main .content--aboutme:after {
    content: "";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 250px;
    clip-path: polygon(100% 0, 0 0, 100% 50%);
    background: linear-gradient(0deg, #f9f9f9 0%, #1e0c71 50%, #0a043c 87%)
}
.main .content--aboutme:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    clip-path: polygon(100% 0, 0 0, 100% 60%);
    background-color: #f39422
}

.about.aboutme-part1 {
    max-width: 550px;
}
.main .content--aboutme .aboutme-part1 .content-about-img {
    position: relative;
    max-width: 70%;
	height: auto;  
    background-image: url("../img/mypicture.jpg");
    background-size: cover;
    margin: auto;
}

.main .content--aboutme .aboutme-part1 .content-about .my-picture {
    border: 3px solid #fff;
    width: 100%;
    min-width: 29vmax;
    max-width: 27vmin
}
@media screen and (min-width: 1029px) {
    .main .content--aboutme .aboutme-part1 {
        max-width: 510px;
    }
    .main .content--aboutme .aboutme-part1 .content-about-img{
       max-width: 85%; 
    }
    
}
.main .content--aboutme .aboutme-part2 {
    align-self: center
}
.main .content--aboutme .aboutme-part2 .title .rocks {
    position: relative;
    margin-left: .3rem
}
.main .content--aboutme .aboutme-part2 .title .rocks .rock {
    width: 1em
}
.main .content--aboutme .aboutme-part2 .title .rocks .rock:last-child {
    left: 5rem;
    transform: translateX(-20px)
}
.main .content--aboutme .aboutme-part2 .title .rocks .rock:first-child {
    width: 0.9em;
    transform: translateY(-70px)
}
@media screen and (min-width: 1029px) {
    .main .content--aboutme .aboutme-part2 {
        max-width: 50%;
        margin: 0
    }
}
.main .content--aboutme .aboutme-part3 {
    margin-top: 2.5rem
}
.main .content--aboutme .details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 5em 1.5rem;
    column-gap: 1rem
}
.main .content--aboutme .details .details-detail {
    padding: 0.7rem
}
.main .content--aboutme .details .details-detail p {
    color: #fff
}
.main .content--aboutme .details .details-detail p span {
    font-weight: bold;
    color: #f39422
}
.main .content--aboutme .hire-me {
    display: inline-block;
    margin: 1.5em 0 1.5em 1em;
    font-size: 1.4em;
    color: #04e2f2;
    font-weight: 600
}
.main .content--aboutme .hire-me:hover i {
    animation: transform 500ms ease-in-out linear;
    transform: translateX(10px)
}
.main .content--skills {
    padding-top: 9rem;
    padding-bottom: 15rem
}

.main .content--skills .cube__porcentaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem
}
.main .content--skills .cube__porcentaje .container-cube-all {
    max-width: 30%;
    width: 100%;
    height: calc(var(--height) * 1.2);
    display: flex;
    justify-content: center;
    margin: 2rem
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube {
    display: flex;
    perspective: 1000px;
    margin: auto;
    justify-content: center
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .cube {
    transform: rotateY(45deg);
    height: var(--height);
    width: var(--width);
    transform-style: preserve-3d;
    animation: rot 20s linear infinite
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .cube .cube__face {
    position: absolute;
    height: var(--height);
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 0 17px 0 #8e8a8aa8;
    border: 5px solid #2c80d4;
    font-family: "Poppins Medium", sans-serif
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .cube .cube__face .icon-skill {
    width: 80%;
    margin: 0px auto
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .cube .cube__face .skill-tt {
    margin: 0 auto;
    font-size: 1.7em;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    letter-spacing: 2px
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .cube .enfrente .icon-skill {
    width: 60%;
    margin-top: 5%
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .enfrente {
    transform: translateZ(var(--trans-p))
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .enfrente h2 {
    margin-top: 7%;
    color: #EFD81D
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .atras {
    transform: translateZ(var(--trans-n))
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .atras h2 {
    color: #2173F7
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .arriba {
    transform: translateY(var(--trans-n)) rotateX(90deg)
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .abajo {
    transform: translateY(var(--trans-p)) rotateX(90deg)
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .izquierda {
    transform: translateX(var(--trans-n)) rotateY(90deg)
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .izquierda h2 {
    color: #b33718
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .atras *,
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .izquierda * {
    transform: rotateY(180deg)
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .derecha {
    transform: translateX(var(--trans-p)) rotateY(90deg)
}
.main .content--skills .cube__porcentaje .container-cube-all .container-cube .derecha h2 {
    margin-top: 10%;
    color: #CF649A
}
@keyframes rot {
    0% {
        transform: rotateY(0deg)
    }
    100% {
        transform: rotateY(360deg)
    }
}
.main .content--skills .cube__porcentaje .container-porcentaje {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 1.5rem;
    width: 100%
}
@media screen and (min-width: 1200px) {
    .main .content--skills .cube__porcentaje .container-porcentaje {
        max-width: 450px
    }
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje {
    display: flex;
    justify-content: center
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .logo-porcentaje {
    width: 5rem
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .logo-porcentaje .icon-porcentaje {
    max-width: 90%
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .logo-porcentaje .html,
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .logo-porcentaje .css {
    max-width: 120%;
    width: 120%;
    margin-left: -12px
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p {
    display: flex;
    flex-direction: column;
    max-width: 77%;
    width: 100%
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .porcentaje-title {
    font-weight: 600;
    color: #d9d8d8;
    font-size: 1.3em
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .porcentaje-title span {
    font-weight: 100;
    font-size: .7em;
    color: #a29c9c
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .barra {
    width: 100%;
    height: 15px;
    background: #ece7e7;
    border-radius: 0px 10px 10px 0px;
    margin-top: .5rem;
    position: relative;
    box-shadow: 0 0 10px 4px rgba(153, 149, 149, 0.5)
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .barra:before {
    content: "";
    position: absolute;
    top: 0;
    height: 15px;
    width: 50%;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(to right, #c33764, #1d2671)
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .barraht::before {
    width: 80%
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .barracs::before {
    width: 90%
}
.main .content--skills .cube__porcentaje .container-porcentaje .porcentaje .cc-p .barras::before {
    width: 50%
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    background: #02071f
}
.footer .title-contact {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: calc(2.3em + 1.5vw);
    font-weight: 600;
    color: #d9d8d8;
    font-variant: all-petite-caps
}
.footer .contact {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    max-width: 900px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    color: #d9d8d8
}
.footer .contact .contact-section {
    padding: 1rem
}
.footer .contact .contact-section .title-contact-section {
    font-weight: 600;
    font-size: 1.1em;
    padding-bottom: .5em
}
.footer .contact .contact-section ul li {
    font-size: 1.1em;
    font-weight: 200
}
.footer .contact .contact-section .social {
    cursor: pointer;
    font-size: 1.8em;
    padding: 0 0.6em;
    color: #d9d8d8
}
.footer .contact .contact-section .social:hover {
    color: #f39422
}
.portfolio,
.about {
    max-width: 1100px;
    margin: auto
}
.stars::before,
.stars::after,
.content--portfolio:after,
.content--skills:after,
.content--skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: .4vmin;
    height: .4vmin;
    border-radius: 50%;
    color: transparent;
    z-index: 1
}
.stars::before {
    box-shadow: 93vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 17vh 0.3vmin rgba(255, 255, 255, 0.8), 28vw 85vh 0.3vmin rgba(255, 255, 255, 0.8), 97vw 82vh 0.3vmin rgba(255, 255, 255, 0.8), 55vw 83vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 72vh 0.3vmin rgba(255, 255, 255, 0.8), 84vw 11vh 0.3vmin rgba(255, 255, 255, 0.8), 32vw 6vh 0.3vmin rgba(255, 255, 255, 0.8), 45vw 92vh 0.3vmin rgba(255, 255, 255, 0.8), 98vw 57vh 0.3vmin rgba(255, 255, 255, 0.8), 63vw 98vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 46vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 86vh 0.3vmin rgba(255, 255, 255, 0.8), 38vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 2vh 0.3vmin rgba(255, 255, 255, 0.8), 89vw 22vh 0.3vmin rgba(255, 255, 255, 0.8), 39vw 0vh 0.3vmin rgba(255, 255, 255, 0.8), 25vw 89vh 0.3vmin rgba(255, 255, 255, 0.8), 54vw 58vh 0.3vmin rgba(255, 255, 255, 0.8), 81vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 51vw 8vh 0.3vmin rgba(255, 255, 255, 0.8), 24vw 56vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 23vh 0.3vmin rgba(255, 255, 255, 0.8), 62vw 34vh 0.3vmin rgba(255, 255, 255, 0.8), 10vw 77vh 0.3vmin rgba(255, 255, 255, 0.8), 92vw 45vh 0.3vmin rgba(255, 255, 255, 0.8), 70vw 40vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 53vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 54vh 0.3vmin rgba(255, 255, 255, 0.8), 18vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 48vw 47vh 0.3vmin rgba(255, 255, 255, 0.8), 83vw 96vh 0.3vmin rgba(255, 255, 255, 0.8), 26vw 32vh 0.3vmin rgba(255, 255, 255, 0.8), 46vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 13vh 0.3vmin rgba(255, 255, 255, 0.8), 29vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 17vw 90vh 0.3vmin rgba(255, 255, 255, 0.8), 78vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 15vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 5vh 0.3vmin rgba(255, 255, 255, 0.8)
}
.stars::after {
    box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8)
}
.content--portfolio::after {
    box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8)
}
.content--skills::before {
    box-shadow: 93vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 17vh 0.3vmin rgba(255, 255, 255, 0.8), 28vw 85vh 0.3vmin rgba(255, 255, 255, 0.8), 97vw 82vh 0.3vmin rgba(255, 255, 255, 0.8), 55vw 83vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 72vh 0.3vmin rgba(255, 255, 255, 0.8), 84vw 11vh 0.3vmin rgba(255, 255, 255, 0.8), 32vw 6vh 0.3vmin rgba(255, 255, 255, 0.8), 45vw 92vh 0.3vmin rgba(255, 255, 255, 0.8), 98vw 57vh 0.3vmin rgba(255, 255, 255, 0.8), 63vw 98vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 46vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 86vh 0.3vmin rgba(255, 255, 255, 0.8), 38vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 74vw 2vh 0.3vmin rgba(255, 255, 255, 0.8), 89vw 22vh 0.3vmin rgba(255, 255, 255, 0.8), 39vw 0vh 0.3vmin rgba(255, 255, 255, 0.8), 25vw 89vh 0.3vmin rgba(255, 255, 255, 0.8), 54vw 58vh 0.3vmin rgba(255, 255, 255, 0.8), 81vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 51vw 8vh 0.3vmin rgba(255, 255, 255, 0.8), 24vw 56vh 0.3vmin rgba(255, 255, 255, 0.8), 50vw 23vh 0.3vmin rgba(255, 255, 255, 0.8), 62vw 34vh 0.3vmin rgba(255, 255, 255, 0.8), 10vw 77vh 0.3vmin rgba(255, 255, 255, 0.8), 92vw 45vh 0.3vmin rgba(255, 255, 255, 0.8), 70vw 40vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 53vh 0.3vmin rgba(255, 255, 255, 0.8), 3vw 54vh 0.3vmin rgba(255, 255, 255, 0.8), 18vw 21vh 0.3vmin rgba(255, 255, 255, 0.8), 48vw 47vh 0.3vmin rgba(255, 255, 255, 0.8), 83vw 96vh 0.3vmin rgba(255, 255, 255, 0.8), 26vw 32vh 0.3vmin rgba(255, 255, 255, 0.8), 46vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 2vw 13vh 0.3vmin rgba(255, 255, 255, 0.8), 29vw 63vh 0.3vmin rgba(255, 255, 255, 0.8), 17vw 90vh 0.3vmin rgba(255, 255, 255, 0.8), 78vw 9vh 0.3vmin rgba(255, 255, 255, 0.8), 15vw 39vh 0.3vmin rgba(255, 255, 255, 0.8), 90vw 5vh 0.3vmin rgba(255, 255, 255, 0.8)
}
.content--skills::after {
    box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8), 91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8)
}
/*# sourceMappingURL=style.min.css.map */